body {
    border: 1px solid black;
    height: 700px;
    background-color: beige;
}
header {
    border: 1px solid black;
    text-align: center;
    font-size: 50px;
    height: 100px;
}
.statsContainer {
    border: 2px solid darkred;
    text-align: center;
    display: inline-block;
    height: 550px;
    width: 200px;
}
span {margin: auto;}
.stats {
    font-size: 1.5rem;
    border: 1px solid #2cbb26;
    height: 80px;
    display: flex;
    margin: 5px;
}
main {
    display: inline-block;
    border: 3px solid cornflowerblue;
    height: 550px;
    width: 800px;
    vertical-align: top;
}

.cardContainer {
    border: 1px solid blue;
    height: 32%;
    margin: 4px;
    position: relative;
}
.card {display: inline-block;height: 90%;width: 15%;border: 1px solid red;margin: 3px;}

div.lfz-card {
    height: 120px;
    width: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(assets/images/lfz-card.jpg);
    position: absolute;
}

div.dan-card {
    height: 120px;
    width: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(assets/images/dan.jpg);
    position: absolute;
}

div.andy-card {
    height: 120px;
    width: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(assets/images/andy.jpg);
    position: absolute;
}
div.bill-card {
    height: 120px;
    width: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(assets/images/bill.jpg);
    position: absolute;
}
div.brett-card {
    height: 120px;
    width: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(assets/images/brett.jpg);
    position: absolute;
}
div.cody-card {
    height: 120px;
    width: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(assets/images/cody.jpg);
    position: absolute;
}
div.scott-card {
    height: 120px;
    width: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(assets/images/scott.jpg);
    position: absolute;
}
div.timD-card {
    height: 120px;
    width: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(assets/images/tim-d.jpg);
    position: absolute;
}
div.timH-card {
    height: 120px;
    width: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(assets/images/tim-h.jpg);
    position: absolute;
}
div.tj-card {
    height: 120px;
    width: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(assets/images/tj.jpg);
    position: absolute;
}

.hidden {
    display: none;
}

/*div.lfz-card {*/
/*    height: 120px;*/
/*    width: 120px;*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    background-image: url(assets/images/lfz-card.jpg);*/
/*    position: absolute;*/
/*}*/

/*div.pic-card {*/
/*    height: 120px;*/
/*    width: 120px;*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    background-image: url(assets/images/dan.jpg);*/
/*}*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}