@font-face {
  font-family: formula1RegularFont;
  src: url(./fonts/Formula1-Regular.ttf)
}

body {
  height: 98vh;
  width: 98vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(rgba(255,255,255,.3),rgba(255,255,255,.3)),url(../images/track-wallpaper.jpg);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

header {
  text-align: center;
  font-size: 7vh;
  color: red;
  font-family: formula1RegularFont;
  /* border: solid 1px chartreuse; */
  height: 10%;
  width: 100%;
}

.statsContainer {
  color: blue;
  text-align: center;
  /* display: inline-block; */
  height: 89%;
  width: 14%;
  font-size: 3vw;
  font-family: formula1RegularFont;
  /* border: solid 1px chartreuse; */
}

.stats > span {
  margin: auto;
}

.stats {
  font-size: 70%;
  height: 14%;
  display: flex;
  margin: 5px;
  background-color: cornflowerblue;
  opacity: .8;
}

main {
  display: inline-block;
  height: 89%;
  width: 86%;
  vertical-align: top;
  /* border: solid 1px chartreuse; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

main {}

.cardContainer {
  height: 33.33%;
  /* width: 80vw; */
  position: relative;
  display: flex;
  justify-content: space-around;
}

.card {
  height: 90%;
  width: 14%;
}

.front {
  height: 90%;
  width: 14%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  background-color: black;
  border-radius: 25px;
}

div.lfz-card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/f1-logo.jpg);
  position: absolute;
  height: 90%;
  width: 14%;
  background-color: black;
  border-radius: 25px;
}

div.lfz-card:hover {
  border: solid red 3px;
}

.alexander-albon-card {
  background-image: url(../images/alexander-albon.jpg)
}

.antonio-giovinazzi-card {
  background-image: url(../images/antonio-giovinazzi.jpg)
}

.carlos-sainz-card {
  background-image: url(../images/carlos-sainz.jpg)
}

.charles-leclerc-card {
  background-image: url(../images/charles-leclerc.jpg)
}

.daniel-ricciardo-card {
  background-image: url(../images/daniel-ricciardo.jpg)
}

.daniil-kvyat-card {
  background-image: url(../images/daniil-kvyat.jpg)
}

.george-russell-card {
  background-image: url(../images/george-russell.jpg)
}

.kevin-magnussen-card {
  background-image: url(../images/kevin-magnussen.jpg)
}

.kimi-raikkonen-card {
  background-image: url(../images/kimi-raikkonen.jpg)
}

.lance-stroll-card {
  background-image: url(../images/lance-stroll.jpg)
}

.lando-norris-card {
  background-image: url(../images/lando-norris.jpg)
}

.lewis-hamilton-card {
  background-image: url(../images/lewis-hamilton.jpg)
}

.max-verstappen-card {
  background-image: url(../images/max-verstappen.jpg)
}

.nico-hulkenberg-card {
  background-image: url(../images/nico-hulkenberg.jpg)
}

.pierre-gasly-card {
  background-image: url(../images/pierre-gasly.jpg)
}

.robert-kubica-card {
  background-image: url(../images/robert-kubica.jpg)
}

.romain-grosjean-card {
  background-image: url(../images/romain-grosjean.jpg)
}

.sebastian-vettel-card {
  background-image: url(../images/sebastian-vettel.jpg)
}

.sergio-perez-card {
  background-image: url(../images/sergio-perez.jpg)
}

.valtteri-bottas-card {
  background-image: url(../images/valtteri-bottas.jpg)
}


.hidden {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: .5;
}

.modal-content {
  background-color: black;
  background: linear-gradient(rgba(255,255,255,.15),rgba(255,255,255,.15)),url(../images/track-wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 35%;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modalTextContent {
  color: crimson;
  text-align: center;
  height: 60%;
  font-size: 1.7rem;
  font-family: formula1RegularFont;
}
#resetButton {
  display: block;
  margin: auto;
}

#resetButton:hover {
  color: white;
  background-color: cornflowerblue;
  cursor: pointer;
}
