body {
  height: 98vh;
  width: 98vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/touge-mountains.jpg);
}

header {
  text-align: center;
  font-size: 8vh;
  color: aquamarine;
}

.statsContainer {
  color: aquamarine;
  text-align: center;
  display: inline-block;
  height: 88vh;
  width: 14vw;
  font-size: 5vh;
}

.stats > span {
  margin: auto;
}

.stats {
  font-size: 70%;
  height: 14%;
  display: flex;
  margin: 5px;
  background-color: cornflowerblue;
  opacity: .8;
}

main {
  display: inline-block;
  height: 88vh;
  width: 82vw;
  vertical-align: top;
}

.cardContainer {
  height: 29vh;
  width: 82vw;
  position: relative;
  display: inline-block;
}

.card {
  display: inline-block;
  height: 90%;
  width: 13.5vw;
}

.front {
  height: 90%;
  width: 12vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  background-color: black;
}

div.lfz-card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/lfz-card.jpg);
  position: absolute;
  height: 90%;
  width: 12vw;
}

div.dan-card {
  background-image: url(../images/dan.jpg);
}

div.andy-card {
  background-image: url(../images/andy.jpg);
}

div.bill-card {
  background-image: url(../images/bill.jpg);
}

div.brett-card {
  background-image: url(../images/brett.jpg);
}

div.cody-card {
  background-image: url(../images/cody.jpg);
}

div.scott-card {
  background-image: url(../images/scott.jpg);
}

div.timD-card {
  background-image: url(../images/tim-d.jpg);
}

div.timH-card {
  background-image: url(../images/tim-h.jpg);
}

div.tj-card {
  background-image: url(../images/tj.jpg);
}

.eg6-card {
  background-image: url(../images/eg6-spoon.jpg)
}

.ek9-card {
  background-image: url(../images/ek9-spoon.jpg)
}

.enkei92-card {
  background-image: url(../images/enkei92-silver.jpg)
}

.miata-card {
  background-image: url(../images/miata-na.jpg)
}

.r32-card {
  background-image: url(../images/r32-grey.jpg)
}

.r34-card {
  background-image: url(../images/r34-blue-rear.jpeg)
}

.rpf1-card {
  background-image: url(../images/rpf1-sbc.jpg)
}

.s2k-card {
  background-image: url(../images/s2k-js.jpg)
}

.s13-card {
  background-image: url(../images/s13-fastback.jpg)
}



.hidden {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: .5;
}

.modal-content {
  background-color: black;
  background-image: url("../images/touge-mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 35%;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modalTextContent {
  color: aqua;
  text-align: center;
  height: 60%;
  font-size: 1.7rem;
}
#resetButton {
  display: block;
  margin: auto;
}

#resetButton:hover {
  color: white;
  background-color: cornflowerblue;
  cursor: pointer;
}
